.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: 14px auto 0 91px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 311px;
  margin: 25px auto 0 100px;
}

.u-section-1 .u-video-1 {
  width: 338px;
  height: 190px;
  margin: -250px 66px 0 auto;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 76px auto 0 91px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 56px auto 60px;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 30px;
    margin-left: 158px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 31px;
    margin-right: auto;
    margin-left: 254px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    margin-left: 150px;
  }

  .u-section-1 .u-video-1 {
    margin-top: 20px;
    margin-left: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 295px;
    margin-left: 0;
  }

  .u-section-1 .u-video-1 {
    margin-top: 25px;
    margin-left: 91px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 970px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 21px;
    margin-left: 16px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 186px;
    margin-top: 18px;
  }

  .u-section-1 .u-video-1 {
    margin-left: 2px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 65px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
    margin-top: 43px;
    margin-bottom: 7px;
    margin-left: -5px;
  }
}